*.docs linguist-documentation
*.logo linguist-documentation

* text=auto
*.bsl		text		eol=crlf
*.mdo		text		eol=crlf

*.bmp   binary diff=exif
*.gif   binary diff=exif
*.ico   binary
*.jpeg  binary diff=exif
*.jpg   binary diff=exif
*.png   binary diff=exif
*.svg   text
